name: Lint, tag, release

on:
  push:
    branches: ["main"]
jobs:
  pre-commit:
    permissions:
      contents: read
    name: Pre-commit check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - uses: actions/setup-go@v6
        with:
          go-version: "^1.24.0" # The Go version to download (if necessary) and use.
      - name: Pre-commit checks
        uses: pre-commit/action@v3.0.1
  tag-and-release:
    name: Tag & Release
    needs: pre-commit
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Get Next Version
        id: semver
        uses: ietf-tools/semver-action@v1
        with:
          token: ${{ github.token }}
          branch: main

      - name: Create Release
        uses: ncipollo/release-action@v1.20.0
        with:
          allowUpdates: true
          draft: false
          makeLatest: true
          name: ${{ steps.semver.outputs.next }}
          tag: ${{ steps.semver.outputs.next }}
          body: Changelog Contents
          token: ${{ github.token }}
