name: Lint

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:
permissions:
  contents: read # This is required for actions/checkout

jobs:
  pre-commit:
    name: Pre-commit check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout git repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
      - uses: actions/setup-go@v6
        with:
          go-version: "^1.24.0"
      - name: Pre-commit checks
        uses: pre-commit/action@v3.0.1
